:root {
    --bg-primary: #c6ff00a8
}

li {
    list-style: none;
}

input {
    padding: 10px;
}

.input-label {
    padding: 10px 0;
    font-weight: 500;
}
.grid {
    display: grid;
}
.header {
    background-color: var(--bg-primary);
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 10px;
    font-weight: 500;
}

.segment {
    display: flex;
    justify-content: end;
    padding: 10px;
}

.btn {
    padding: 15px;
    background-color: var(--bg-primary);
    border: 1px solid var(--bg-primary);
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.btn-danger {
    color: red;
    background-color: #fff;
    border: 1px solid transparent;
}

.sidebar-header {
    padding: 15px 30px;
    background-color: var(--bg-primary);
}

.sidebar-container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 40vw;
    right: -40vw;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
}

.sidebar-container.show {
    right: 0;
}

.blur {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
    /* background: rgba(0, 0, 0, 0.5); */
    /* background-color: #403e3b66; */
}

.sidebar-hide-icon {
    font-weight: 600;
    cursor: pointer;
}

.sidebar-content {
    padding: 15px 30px;
}

.sidebar-footer {
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.sidebar-buttons {
    display: flex;
    gap: 10px;
    padding: 20px 10px;
    background-color: #dfdfdf;
    border-radius: 5px;
}